<!DOCTYPE html>
<html>

<head>
  <%- include('../includes/header.ejs') %>
</head>

<body>
  <%- include('../includes/productNav.ejs') %>
    <div class="jumbotron text-center">
      <div class="container">
        <main>
          <% if (errorMessage) { %>
            <div class="user-message user-message-error">
              <%= errorMessage %>
            </div>
            <% } %>
              <form class="login-form" action="/new-password" method="POST">
                <div class="form-control">
                  <label for="password">Password</label>
                  <input type="password" name="password" id="password">
                </div>
                <input type="hidden" name="userID" value="<%= userID %>">
                <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <button class="btn" type="submit">Update Password</button>
              </form>
        </main>
      </div>
    </div>
    <%- include('../includes/footer.ejs') %>